<div class="col-md-12">
  <!-- BOX -->
  <div class="box border green" id="formWizard">
    <div class="box-title">
      <h4></i>Novo Investimento</h4>
    </div>
    <%= render 'form' %>
  </div>
  <!-- /BOX -->
</div>