<p>
  <strong>Asset:</strong>
  <%= @investment.asset.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @investment.class.clean_name %>
</p>

<%= link_to 'Edit', edit_dashboard_investment_path(@investment) %> |
<%= link_to 'Back', dashboard_investments_path %>
